.video_container {
  padding-left: 1%;
  padding-right: 1%;
}

.video_player {
  display: inline-block;
  margin-left: 2%;
  width: 47%;
}

@media only screen and (max-width: 600px) {
  .video_player {
    display: inline;
  }
}
